# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.swp
*.egg
*.egg-info/
*.log

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Data files (optional, if you don’t want to commit)

# Models (optional, can be large)

